<%= form_for @book do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :bookshelf_id %><br />
    <%= f.text_field :bookshelf_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
